/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format(woff2);
  font-display: swap;
}

* {
  box-sizing: border-box;
}

:focus,
:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

html {
  height: 100dvh;
}

body {
  margin: auto;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-index p {
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.header {
  margin: 0 auto;
  width: 1160px;
  color: #000000;
  background: -o-linear-gradient(#FFFFFF 0 40px, #FFE17F 40px);
  background: linear-gradient(#FFFFFF 0 40px, #FFE17F 40px);
  padding: 20px 0;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

.profile {
  position: relative;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  max-width: 1160px;
  margin: 0 auto;
}

.header-logo-wrapper {
  margin-bottom: 23px;
}

.header-logo-link {
  display: inline-block;
}

.header-logo-link:hover {
  opacity: 0.6;
}

.header-logo-link:active {
  opacity: 0.3;
  outline: none;
}

.header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  margin-bottom: 30px;
  gap: 26px;
  position: relative;
  justify-content: space-between;
}

.header-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 40px;
  position: relative;
}

.search-input {
  display: block;
  position: relative;
  margin: 0;
  min-width: 359px;
  padding: 10px 20px 10px 48px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-image: url("..images/search_default.svg");
  background-repeat: no-repeat;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  border-right: 1px;
  background-color: #FFE17F;
}

.search-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 16px;
  height: 16px;
  background-image: url("../images/search_default.svg");
}

.search-input:disabled {
  opacity: 0.3;
}

.header-middle-input {
  position: relative;
}

.search-button {
  display: block;
  padding: 10px 20px;
  margin: 0;
  width: 160px;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: inherit;
  border: 2px solid #000000;
  cursor: pointer;
  border-radius: 0 50px 50px 0;
}

.search-button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.search-button:active>span {
  opacity: 0.3;
}

.header-user-controls {
  display: flex;
  gap: 27px;
  justify-content: space-between;
  align-items: center;
}

.login {
  display: flex;
  padding-left: 27px;
  min-width: 231px;
  position: relative;
  justify-content: space-between;
}

.user-profile-functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  gap: 28px;
}

.login::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/login_default.svg");
  width: 15px;
  height: 12px;
}

.login:hover {
  opacity: 0.6;
}

.login:active {
  opacity: 0.3;
}

.user-product-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: right;
  gap: 36px;
}

.logout {
  opacity: 0.3;
}

.logout:focus {
  opacity: 1;
}

.header-goods-operation {
  display: flex;
  align-items: center;
  gap: 34px;
}

.compare-link {
  position: relative;
  padding-left: 19px;
}

.compare-link::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/compare_default.svg");
}

.compare-link:hover {
  opacity: 0.6;
}

.compare-link:active {
  opacity: 0.3;
}

.cart-link {
  position: relative;
  padding-left: 27px;
  line-height: 30px;
  border: none;
  background: transparent;
}

.cart-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 14px;
  background-image: url("../images/cart.svg");
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -18px;
  width: 21px;
  height: 21px;
  z-index: 1;
  background-image: url("../images/cart-full.svg");
}

.cart-link:hover {
  opacity: 0.6;
}

.cart-link:active {
  opacity: 0.3;
}

.cart-wrapper {
  display: flex;
}

.cart-wrapper:focus-within .popover {
  display: block;
}

.popover {
  position: absolute;
  top: 40px;
  right: -80px;
  z-index: 6;
  width: 360px;
  color: #FFFFFF;
  background-color: #000000;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  min-height: 186px;
  display: none;
  max-width: 320px;
}

.popover::before {
  content: "";
  position: absolute;
  left: 54%;
  top: -6px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url("../images/popover-decor.png");
  background-repeat: no-repeat;
  width: 39px;
  height: 43px;
}

.popover-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.popover-cart-items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.cart-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-item-wrapper:hover {
  opacity: 0.6;
}

.cart-item-wrapper:active {
  opacity: 0.3;
}

.cart-item-wrapper:focus-visible {
  outline: 2px solid #AF4FFF;
}

.cart-item-btn {
  display: flex;
  padding: 0;
  color: #ffffff;
  background-color: #000000;
  margin: 0;
  border: none;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  text-align: left;
}

.cart-item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
  border: none;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-left: auto;
  height: 10px;
  cursor: pointer;
}

.cart-item-button:hover {
  opacity: 0.6;
}

.cart-item-button:active {
  opacity: 0.3;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  cursor: pointer;
  justify-content: center;
}

.cart-item-title {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 150px;
}

.cart-item-img {
  margin-right: 23px;
}

.popover-cart-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #1A1A1A;
  padding: 14px 20px;
}

.cart-btn {
  height: 50px;
  color: #000000;
  background-color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 14px 22px;
}

.cart-btn:hover {
  background-color: #FFE17F;
  cursor: pointer;
}

.cart-btn:active .cart-open-btn {
  opacity: 0.3;
  outline: transparent;
}

.cart-btn:disabled {
  opacity: 0.3;
}

.cart-btn:focus-visible {
  border: 1px solid #7B61FF;
}

.cart-open-btn {
  text-align: center;
}

.popover-btn-wrapper {
  padding: 20px 0;
  text-align: center;
}

.shop-info-list-item:hover {
  opacity: 0.6;
}

.shop-info-list-item:active {
  opacity: 0.3;
}

a:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

a {
  color: #000000;
  text-decoration: none;
}

.category-list-link {
  border-bottom: none;
}

.active {
  border-bottom: solid 2px #000000;
}

.page-container {
  margin: 0 auto;
  margin-top: -38px;
}

.slider-image-button {
  width: 20px;
  height: 60px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  padding: 2px;
  cursor: pointer;
  border: none;
  background-image: url("../images/slider-prev.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 211px;
}

.slider-image-button:hover {
  opacity: 0.6;
}

.slider-image-button:active {
  outline: none;
  opacity: 0.3;
}

.slider-image-button:focus {
  opacity: 1;
}

.slider-image-button:disabled {
  opacity: 0.1;
}

.slider-image-next {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  right: 0;
}

.slider-image-prev {
  left: 30px;
}

.slider-image-prev:active {
  opacity: 0.3;
}

.slider-image-next:active {
  opacity: 0.3;
}

.slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  margin-top: -13px;
  z-index: 2;
}

.slider-pagination-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-pagination-button-current:hover {
  opacity: 0.6;
}

.slider-pagination-button-current:active {
  opacity: 0.3;
}

.slider-item-image {
  display: block;
}

.slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21.13px;
  text-align: left;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  align-items: center;
  gap: 7px;
}

.catalog-background {
  background-color: #F0F0F0;
}

.catalog-category {
  margin-bottom: 85px;
}

.catalog-nav-list {
  display: flex;
  flex-direction: column;
  min-width: 211px;
  height: 120px;

  font-size: 16px;
  line-height: 18px;
  gap: 25px;
}

.header-catalog input {
  display: none;
}

.header-catalog label {
  cursor: pointer;
}

.header-catalog:focus-within .header-catalog-nav {
  display: flex;
}

.catalog-btn::before:hover {
  width: 16px;
  height: 2px;
  background-image: url("../images/dropbtn-minus.svg");
}

.category-item {
  position: relative;
  width: 360px;
  height: 380px;
}

.catalog-item-wrapper {
  position: relative;
  width: 360px;
}

.new-product::before:hover {
  opacity: 0.6;
}

.header-catalog-nav {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
  display: none;
  padding-top: 33px;
  padding-bottom: 27px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #ffe17f;
  list-style: none;
  position: absolute;
  top: 50px;
  left: -60px;
  z-index: 2;
  width: 1160px;
  gap: 30px;
}

.button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 6px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  border: none;
}

.button::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  visibility: hidden;
}

.button:not(:hover, :active)::after {
  visibility: visible;
}

.button:hover {
  background-color: #FFE17F;
}

.button:active {
  background-color: #FFCC33;
  outline: none;
}

.button:disabled {
  opacity: 0.3;
}

.slider-item-button {
  width: 220px;
}

.about-as-button {
  width: 270px;
}

.contacts-button {
  width: 260px;
}

.catalog-item-info {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  visibility: hidden;
  height: 20px;
  z-index: 1;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-style: none;
  cursor: pointer;
  border: none;
  opacity: 1;
  text-align: center;
  vertical-align: middle;
  pointer-events: none;
}

.catalog-item-info::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
  -webkit-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform, -webkit-transform;
  opacity: 1;
}

.catalog-item-info:hover {
  opacity: 1;
  visibility: visible;
}

.catalog-item-info:active {
  opacity: 1;
}

.catalog-item-info::before:active {
  background-color: #FFC700;
}

.catalog-item-image {
  display: block;
  width: 100%;
  height: auto;
}

.catalog-drop-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  text-align: left;
  padding: 0;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.catalog-btn {
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
  z-index: 3;
  cursor: pointer;
}

.catalog-btn::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  color: #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  background-image: url("../images/dropbtn-plus.svg");
}

.catalog-drop-btn:hover .catalog-btn {
  opacity: 1;
}

.catalog-drop-btn:active .catalog-btn::before {
  width: 16px;
  height: 2px;
  background-image: url("../images/dropbtn-minus.svg");
}

.header-shop-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  position: relative;
}

.shop-info-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.shop-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 43px;
  text-align: right;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-container {
  padding-top: 33px;
}

.main-background {
  background-color: #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.catalog-items {
  background-color: #FFFFFF;
  margin-bottom: 44px;
}

.catalog-container {
  padding: 70px 40px 78px;
  background-color: #FFFFFF;
}

.title {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  text-align: left;
  letter-spacing: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  display: inline;
}

.catalog-category-list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 40px;
}

.catalog-category-name {
  display: block;
}

.category-name {
  display: inline-block;
  height: 60px;
}

.catalog-category-name:hover {
  cursor: pointer;
  opacity: 0.6;
}

.catalog-category-name:active {
  opacity: 0.3;
  outline: none;
}

figure {
  margin: 0;
  padding: 0;
}

.category-name {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.catalog-category-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.category-image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}

.catalog-category-image {
  background-color: #ffe17f;
}

.catalog-category-link:hover {
  cursor: pointer;
}

.catalog-category-link:hover .catalog-category-image {
  background-color: #FFC700;
}

.catalog-category-link:active {
  opacity: 0.3;
  outline: none;
}

.catalog-category-link {
  display: block;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  position: relative;
}

.slider-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
}

.slider-item-wrapper::after {
  content: "01";
  position: absolute;
  font-family: Rubik, sans-serif;
  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
  color: #FFFFFF;
  top: 80px;
  right: 47px;
}

.slider-item-wrapper-2::after {
  content: "02";
}

.slider-item-wrapper-3::after {
  content: "03";
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  background: -o-linear-gradient(#FFE17F 150px, #FFFFFF 150px);
  background: linear-gradient(#FFE17F 150px, #FFFFFF 150px);
}

.slider-item-image-wrapper {
  position: relative;
}

.top-prod-img {
  min-width: 560px;
  min-height: 560px;
}

.top-prod-number {
  position: relative;
  max-width: 1160px;
  height: 150px;
}

.top-products-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 530px;
  top: 500px;
}

.slider-item-specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider-item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  z-index: 1;
  position: relative;
  right: 0;
  top: -38px;
}

.slider-item-title {
  margin-bottom: 26px;
}

.slider-item-description p {
  margin-bottom: 50px;
}

.slider-item-button-wrapper {
  margin-bottom: 50px;
}

.specification-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
  align-items: start;
}

.data {
  margin: 0;
  font-size: 36px;
}

.spec {
  font-size: 16px;
}

.slider-item-specifications-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin: 0;
}

.slider-item-specifications-scroll-3 {
  gap: 40px;
}

.specification-top {
  font-size: 36px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}

.specification-bottom {
  font-size: 16px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.specification-cell {
  margin-right: 20px;
}

.product-specification {
  display: block;
}

.trans-com-item {
  display: block;
}

.contacts-schedule-item {
  display: block;
  margin-bottom: 7px;
}

.contacts-schedule-item (:last-child) {
  margin: 0;
}

button {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
}

.shop-info-title {
  margin-bottom: 48px;
  letter-spacing: normal;
}

.about-as-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  max-width: 497px;
}

.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

h1 {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

h2 {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  text-align: left;
  margin: 0;
  padding: 0;
  letter-spacing: 0.2em;
}

h3 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  margin: 0;
  padding: 0;
}

.catalog-page {
  padding-top: 21px;
  padding-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  max-width: 1160px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.catalog-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 35px;
  width: 320px;
  justify-content: flex-start;
}

.catalog-filters-button {
  width: 220px;
  z-index: 0;
}

.service-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 35px;
  border-right: 7px solid #000000;
  width: 287px;
  padding: 64px 0;
  flex-shrink: 0;
}

.service-menu-button {
  width: 160px;
  padding: 10px 4px;
  text-align: left;
  isolation: isolate;
}

.button::after:not(:hover, :active) {
  visibility: visible;
}

.service-menu-button-activ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  background-color: #000000;
  color: #FFE17F;
  padding-top: 9px;
  padding-bottom: 11px;
  text-align: left;
  padding-left: 19px;
}

.service-menu-button-activ:hover {
  background-color: #000000;
  padding-left: 60px;
}

.service-menu-button-activ:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.service {
  position: relative;
  margin: auto;
  margin-bottom: 70px;
  padding-bottom: 72px;
  background: -o-linear-gradient(#FFFFFF 0 102px, #F0F0F0 102px);
  background: linear-gradient(#FFFFFF 0 102px, #F0F0F0 102px);
  margin-top: -15px;
}

.service-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.servis-item-title {
  margin-bottom: 34px;
}

.service-description-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  gap: 106px;
  padding: 0 63px 0 116px;
}

.service-item-image {
  padding-top: 5px;
  padding-bottom: 5px;
}

.shop-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  clip- -ms-flex-pack: justify;
  margin-bottom: 70px;
  gap: 131px;
}

.about-us {
  padding-top: 47px;
  position: relative;
}

.about-us::before {
  content: "";
  width: 84px;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
  max-width: 520px;
}

.trans-com-list {
  padding-left: 4px;
}

.trans-com-item {
  position: relative;
  display: flex;
  gap: 26px;
  align-items: center;
  height: 20px;
  letter-spacing: -0.02em;
}

.trans-com-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFC700;
}

.trans-com-item:not(:last-child) {
  margin-bottom: 19px;
}

.contacts {
  padding-top: 48px;
  position: relative;
  max-width: 532px;
}

.contacts::before {
  content: "";
  width: 84px;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
}

.shop-schedule {
  padding-top: 7px;
}

.special-delivery-offer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin-bottom: 70px;
  font-size: 20px;
  background-color: #F0F0F0;
  background-repeat: no-repeat;
  border: transparent;
  width: 1160px;
}

.special-delivery-offer-button:hover {
  cursor: pointer;
}

.delivery-offer-icon {
  opacity: 0.5;
}

.special-delivery-offer-button:hover .delivery-offer-icon {
  opacity: 1;
}

.special-delivery-offer-button:hover .delivery-offer-image {
  background-color: #FFC700;
}

.special-delivery-offer-button:active {
  opacity: 0.3;
}

.delivery-offer-image {
  padding: 35px 39px;
  background-color: #FFE17F;
}

.special-delivery-offer-button-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
  letter-spacing: 0.2em;
}

.contacts-subtitle {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: normal;
  margin-bottom: 23px;
}

.news-subscription {
  padding: 61px 0 48px;
}

.news-subscription-background {
  background-color: #F0F0F0;
}

.news-subscription-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-end;
  margin: 0 auto 144px;
  padding-left: 7px;
  gap: 25px;
}

.news-subscription-wrapper p {
  max-width: 560px;
  padding-left: 7px;
  padding-right: 25px
}

.news-subscription-title {
  letter-spacing: normal;
  max-width: 348px;
}

.news-subscription-form {
  border-color: transparent;
  min-width: 810px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-subscription-form p {
  margin-left: auto;
  text-align: center;
}

.news-subscription-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
}

.field {
  border-color: #C4C4C4;
  border-width: 3px;
  font-size: 18px;
  font-weight: 400;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  background-color: #F0F0F0;
  padding: 16px 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.news-subscription-button {
  border-color: #C4C4C4;
  border-style: solid;
  border-width: 3px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0%;
  padding: 16px 33px;
  letter-spacing: 0.2em;
}

.news-subscription-button:hover {
  color: #FFFFFF;
  background-color: #000000;
  border: 3px solid #000000;
  cursor: pointer;
}

.news-subscription-button:active>span {
  opacity: 0.3;
}

.news-subscription-button:focus {
  color: #000000;
  background-color: #FFFFFF;
}

.news-subscription-button:disabled {
  opacity: 0.3;
  border-color: #E5E5E5;
}

.contacts-address {
  font-style: normal;
}

.contacts-address-text {
  font-style: normal;
  margin-bottom: 8px;
}

.contacts-phone {
  text-decoration: underline;
}

.contacts-text {
  padding-right: 34px;
}

.page-title-container {
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1160px;
  padding-left: 60px;
}

.page-title {
  margin: 0;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 16px;
}

.page-title-background {
  background-color: #FFFFFF;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.breadcrumbs-list-item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.breadcrumbs-list-item:not(:first-child)::before {
  content: "";
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  width: 4px;
  height: 7px;
  opacity: 0.2;
  display: flex;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
}

.breadcrumbs-list:first-child::before {
  content: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  opacity: 1;
}

.breadcrumbs-link:active {
  outline: none;
  opacity: 0.3;
}

.breadcrumbs-arrow-icon {
  opacity: 0.2;
}

.catalog-filters-title {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
}

.sort-selection {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  background-color: #F0F0F0;
  font-family: Rubik, sans-serif;
}

.catalog-filters-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 35px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.catalog-filters-title-wrapper {
  margin-bottom: 25px;
}

.checkbox-item {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-item:hover {
  cursor: pointer;
}

.checkbox-item+label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-item+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../images/checkbox-item.svg");
  margin-right: 16px;
}

.checkbox-item:checked+label::before {
  background-image: url("../images/checkbox-checked.svg");
}

.radio-item {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio-item:hover {
  cursor: pointer;
}

.radio-item+label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-item+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../images/radio-item.svg");
  margin-right: 16px;
}

.radio-item:checked+label::before {
  background-image: url("../images/radio-item-checked.svg");
}

select {
  border: none;
  background-color: #F0F0F0;
  display: inline;
}

.filter-fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 200px;
  border-top: 2px solid #000000;
}

.filter-name {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 25px;
  padding-top: 12px;
}

.fieldset {
  padding: 0;
  margin: 0;
}

.form-field-item {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 16px;
  height: 20px;
}

.form-field-item:last-child {
  margin-bottom: 0;
}

.form-field-item:hover {
  opacity: 0.6;
}

.form-field-item:active {
  opacity: 0.3;
}

.form-field-item:disabled {
  opacity: 0.1;
}

.form-check:hover {
  cursor: pointer;
  opacity: 0.6;
}

.form-check:active {
  opacity: 0.3;
}

.checkbox-item:focus-visible {
  display: block;
}

.form-check:disabled {
  opacity: 0.1;
}

.form-radio {
  font-size: 16px;
  line-height: 20px;
}

.form-radio:hover {
  cursor: pointer;
}

.catalog-page-sort-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  background-color: #F0F0F0;
  margin-bottom: 20px;
  padding: 0 40px 0;
}

.range {
  position: relative;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 11px;
  background-color: #DCDCDC;
}

.range-bar {
  position: relative;
  height: 2px;
  background-color: #000000;
  text-align: left;
}

.range-toggle {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.range-toggle:hover {
  opacity: 0.5;
  background-color: #EBEBEB;
}

.range-toggle:active {
  opacity: 1;
  background: #000000;
}

.toggle:hover {
  width: 100%;
  height: 100%;
  position: static;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.5;
}

.toggle-min {
  top: -8px;
  left: -18px;
}

.toggle-max {
  top: -8px;
  left: 101px;
}

.range-wrapper-inputs {
  position: relative;
  left: -14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-filter-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.3;
}

.catalog-filter-label:focus-visible {
  opacity: 1;
}

.filter-label-max {
  position: absolute;
  left: 101px;
  width: 55px;
}

.filter-label-min {
  width: 30px;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;
}

.range-input {
  padding: 0;
  font: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  max-width: 55px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.catalog-page-sort-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sort-arrow {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  min-width: 30px;
  min-height: 30px;
  opacity: 0.2;
  fill: #000000;
  background-image: url("../images/sort-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.sort-arrow-down {
  rotate: 180deg;
}

.sort-arrow:hover {
  opacity: 0.5;
}

.sort-arrow:active {
  opacity: 1;
}

.catalog-items-list {
  display: -ms-grid;
  display: grid;
  list-style-type: none;
  margin: 0;
  row-gap: 40px;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 44px 1fr;
  grid-template-rows: 1fr 1fr;
}

.catalog-items-list>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.catalog-items-list>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.catalog-items-list>*:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.catalog-items-list>*:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.catalog-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 32px;
  position: relative;
  z-index: 2;
}

.new-product::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../images/new-product.png");
  top: 27px;
  right: 27px;
  z-index: 4;
}

.catalog-item-link:hover {
  opacity: 0.6;
}

.catalog-item:hover .new-product::before {
  opacity: 0.6;
}

.catalog-item:active .new-product::before {
  opacity: 0.2;
}

.catalog-item-link:active {
  opacity: 0.2;
  outline: none;
}

.catalog-item-link:active+.catalog-item-info::before {
  background-color: #FFC700;
}

.catalog-item-link:hover+.catalog-item-info {
  visibility: visible;
  opacity: 1;
  z-index: 3;
}

.catalog-item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 360px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-item-name h3 {
  font-family: RubiK, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-item-price {
  line-height: 21px;
}

.news-subscription-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.load-more {
  margin-bottom: 44px;
  background-color: #FFFFFF;
  text-align: center;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  background-color: #EBEBEB;
}

.button-load-more {
  padding: 18px;
  width: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: #E5E5E5;
  background-color: #FFFFFF;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.button-load-more:hover {
  border: 3px solid #000000;
  cursor: pointer;
}

.button-load-more:active {
  opacity: 0.3;
}

.button-load-more:disabled {
  opacity: 0.3;
}

.pagination-button-back {
  color: #444444;
  opacity: 0.3;
}

.pagination-button-forward {
  display: block;
  color: #000000;
}

.pagination-button {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 20px;
}

.pagination-button:hover {
  opacity: 0.3;
}

.pagination-button:focus {
  opacity: 1;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
}

.pagination-list-item {
  display: block;
  width: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.3;
}

.pagination-list-item:hover {
  opacity: 1;
}

.pagination-list-item:active {
  opacity: 0.1;
}

.pagination-list-item:focus {
  opacity: 1;
}

.footer-container {
  margin: 0 auto;
  padding: 67px 0;
  color: #ffffff;
  width: 1160px;
}

.footer-top {
  margin-bottom: 29px;
}

.footer-middle {
  display: flex;
  margin-bottom: 49px;
  align-items: center;
}

.footer-background {
  background-color: #444444;
}

.footer-contacts-address {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 119px;
}

.footer-bottom::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  align-self: center;
}

.footer-shop-info-nav {
  align-self: center;
}

.footer-shop-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-shop-info-item {
  letter-spacing: normal;
  padding-bottom: 4px;
  border-bottom: 2px solid #444444;
}

.footer-shop-info-item:hover {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
}

.footer-shop-info-item:hover .footer-shop-info-link {
  color: #FFC700;
}

.footer-shop-info-item:active {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
  opacity: 0.3;
}

.footer-shop-info-item:focus-visible {
  color: #FFFFFF;
  border: none;
}

.footer-contacts-address-text {
  line-height: 20px;
  font-style: normal;
  max-width: 240px;
}

.footer-shop-info-item:active a {
  outline: none;
}

.footer-contacts-phone {
  text-align: right;
  margin-left: auto;
}

.footer-contact-phone-link:hover {
  color: #FFC700;
}

.footer-contact-phone-link:active {
  color: #FFC700;
  opacity: 0.3;
}

.footer-bottom {
  display: grid;
  grid-template-columns: 250px 500px 250px;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.footer a {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #FFFFFF;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.footer-contacts-phone a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: Rubik, sans-serif;
  text-align: right;
  letter-spacing: normal;
  text-decoration: underline;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 15px;
  list-style-type: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.footer-social-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-social-telegram::before {
  content: "";
  width: 16px;
  height: 11px;
  background-image: url("../images/telegram_icon.svg");
  background-repeat: no-repeat;
}

.footer-social-youtube::before {
  content: "";
  width: 16px;
  height: 11px;
  background-image: url("../images/youtube_icon.svg");
  background-repeat: no-repeat;
}

.footer-social-twitter::before {
  content: "";
  width: 15px;
  height: 14px;
  background-image: url("../images/twitter_icon.svg");
  background-repeat: no-repeat;
}

.footer-social-item:hover {
  background-color: #FFC700;
  opacity: 1;
}

.footer-social-item:active {
  opacity: 0.6;
}

.footer-social-item:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 25px;
}

.footer-logo-wrapper {
  justify-self: end;
  align-self: flex-end;
}

.footer-shop-logo-link:hover {
  opacity: 0.6;
}

.footer-shop-logo-link:active {
  opacity: 0.3;
}

.htmlacademy-link {
  display: inline-block;
}

.htmlacademy-link:hover img {
  opacity: 0;
}

.htmlacademy-link:hover {
  background-image: url("../images/footer-logo_hover.png");
  background-repeat: no-repeat;
}

.htmlacademy-link:active {
  opacity: 0.3;
}

.sort-select {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.sort-select:hover {
  opacity: 0.6;
  cursor: pointer;
}

.sort-select:active {
  opacity: 0.3;
}

.sort-select:disabled {
  opacity: 0.1;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.9);
  z-index: 7;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px;
  background-color: #FFFFFF;
  border: 10px solid #000000;
  -webkit-box-shadow: 0 10 0 0 #F0F0F0;
  box-shadow: 0 10 0 0 #F0F0F0;
}

.modal-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 42px;
}

.modal-delivery-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-close-button {
  padding: 0;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 42px;
}

.modal-delivery-wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.delivery-form {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-name-field {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
  background: url("../images/modal-name-icon.svg") no-repeat;
  background-size: 13px 12px;
  background-position: right 20px bottom 24px;
  fill: #B3B3B3;
}

.modal-email-field {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background: url("../images/modal-email-icon.svg") no-repeat;
  background-size: 15px 12px;
  background-position: right 20px bottom 24px;
  fill: #B3B3B3;
}

.modal-email-text,
.modal-name-text {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.modal-field-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  position: relative;
}

.modal-field {
  padding: 20px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #f0f0f0;
}

.modal-title-text {
  margin-bottom: 14px;
  position: relative;
}

.modal-field::-webkit-input-placeholder {
  opacity: 0.6;
}

.modal-field::-moz-placeholder {
  opacity: 0.6;
}

.modal-field:-ms-input-placeholder {
  opacity: 0.6;
}

.modal-field::-ms-input-placeholder {
  opacity: 0.6;
}

.modal-field::placeholder {
  opacity: 0.6;
}

.modal-field:hover {
  background-color: #DCDCDC;
  border: none
}

.modal-field:disabled {
  opacity: 0.3;
}

.modal-email-field:invalid {
  border: 2px solid #FF3D3D;
}

.modal-email-field:invalid+.modal-email-text {
  color: #FF3D3D;
}

.modal-email-field:placeholder-shown {
  border: none;
}

.modal-email-field:placeholder-shown+.modal-email-text {
  color: #000000;
}

.modal-field-text-title {
  width: 540px;
}

.modal-field-name-title {
  width: 360px;
}

.modal-field-email-title {
  width: 360px;
}

.contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.details-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.modal-button {
  margin-right: auto;
  isolation: isolate;
  width: 200px;
}

.modal-field-number-title {
  width: 180px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  margin-top: -3px;
}

.tooltip-icon {
  display: block;
  width: 26px;
  height: 26px;
}

.tooltip-text {
  font-family: Rubik, sans-serif;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding-top: 19px;
  padding-left: 19px;
  padding-right: 19px;
  width: 200px;
  height: 160px;
  position: absolute;
  top: 34px;
  left: 1px;
  display: none;
}

.tooltip {
  width: 26px;
  height: 26px;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  background-image: url("../images/tooltip-text-decor.svg");
  width: 14px;
  height: 6px;
  left: 125px;
  top: -6px;
}

.tooltip-toggle:hover~.tooltip-text {
  display: block;
}

.modal-wrapper {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.modal-number-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
}

.modal-number-field {
  width: 60px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
  opacity: 1;
  border: 2px solid #F0F0F0;
  padding: 18px;
}

.modal-number-field:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

.modal-number-btn {
  width: 60px;
  padding: 18px;
  margin: 0;
  border: 2px solid #F0F0F0;
  background: #F0F0F0;
  cursor: pointer;
}

.modal-number-btn:hover .modal-number-btn-img {
  opacity: 0.6;
}

.modal-number-btn:active .modal-number-btn-img {
  opacity: 0.3;
}

.modal-number-btn:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
