@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: auto;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  margin: 0 auto 55px;
  ;
  color: #000000;
  padding-top: 5px;
  box-sizing: border-box;
  max-width: 1040px;
}

.header-background {

  background-color: #FFE17F;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;

}

.header-top {
  margin-bottom: 30px;
}

.header-logo {
  display: inline-block;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
  gap: 26px;
}

.search-form {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 2px;
  min-height: 40px;
  width: 50%;

}

.search-input {
  margin: 0;
  min-width: 359px;
  padding: 10px 20px 10px 48px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 50px 0 0 50px;
  background-color: #FFE17F;
}

.search-btn {
  padding: 10px 20px;
  margin: 0;
  width: 160px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: inherit;
  border-radius: 0 50px 50px 0;
}

.user-functions-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.user-profile-functions {
  display: flex;
  text-align: left;
  gap: 28px;
}

.user-product-function {
  display: flex;
  justify-content: space-between;
  text-align: right;
  gap: 36px;
}

.shop-info-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

a {
  color: #000000;
  text-decoration: none;
}

.page-container {
  margin: auto;
  box-sizing: border-box;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21.13px;
  text-align: left;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-background {
  background-color: #F0F0F0;
}

.catalog-category {
  box-sizing: border-box;

}

.catalog-nav {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
  display: none;
}

.button {
  border: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: transparent;
  letter-spacing: 0.2em
}

.dropbtn {
  border: none;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;

  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
}

.shop-info {
  display: flex;
  justify-content: space-between;
}

.shop-info-nav {
  display: flex;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.shop-info-list {
  display: flex;
  justify-content: space-between;
  gap: 47px;
  text-align: right;
  flex-wrap: wrap;
}

.main-container {
  color: #000000;
  box-sizing: border-box;

}

.main-background {
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
}



.catalog-container {
  background-color: #FFFFFF;
  margin-bottom: 44px;
  box-sizing: border-box;

}

.catalog-carts {
  padding: 70px 40px 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  padding-bottom: 78px;


}

.title {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  text-align: left;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  display: inline;
}

.catalog-category-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.top-products-number {
  display: block;
  font-family: Rubik;
  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
  text-align: right;
  color: #444444;
  width: 250px;
  height: 135px;
  margin-left: auto;
  display: none;
}

.catalog-category-name {
  width: 160px;
}

.category-name-image {

  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-size: 160px, 160px;
  margin-bottom: 32px;
}


.category-name-image img {
  display: block;
}

.top-product {
  margin: auto;
  margin-bottom: 70px;
  box-sizing: border-box;
}

.top-product-button {
  width: 560px;
}

.top-products-slider {
  text-align: center;
  margin: 0;
  padding: 0;
}

.top-product-conteiner {
  display: flex;
  align-items: center;
  column-gap: 40px;
  justify-content: center;
}

.top-product-description {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}

.specification-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.specification-wrapper dd {
  margin: 0;
  font-family: Rubik, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
}

.specification-wrapper dt {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.top-product-specification {
  display: flex;
  gap: 20px;
  margin: 0;
}

.specification-top {
  font-size: 36px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}

.specification-bottom {
  font-size: 16px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.specification-cell {
  margin-right: 20px;
}

.product-specification {
  display: block;
}

.trans-com-item,
.contacts-schedule-item {
  display: block;
}

button {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
}

.info-title {
  margin-bottom: 48px;
  letter-spacing: normal;
}

.about-as-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;

}

.contacts-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;

}

h1 {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

h2 {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  text-align: left;
  margin: 0;
  padding: 0;
  letter-spacing: 0.2em;
}

h3 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.catalog-page {
  box-sizing: border-box;
  margin: auto;
  padding-top: 25px;

}

.catalog-page .inner {
  display: flex;
  gap: 60px;
  flex-wrap: nowrap;
  flex-direction: row;
  max-width: 1160px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: start;
  box-sizing: border-box;
  width: 320px;

}

.service-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  row-gap: 35px;
  border-right-color: #000000;
  border-right-width: 7px;
}

.service-menu-button {
  width: 160px;
  height: 40px;
  padding: 10px 4px;
  text-align: left;
  background-color: transparent;
}

.service-menu-button-activ {
  width: 280px;
  height: 40px;
  background-color: #000000;
  color: #FFE17F;
  padding-top: 9px;
  padding-bottom: 11px;
  text-align: left;
}

.service {
  margin: auto;
  margin-bottom: 70px;
  box-sizing: border-box;
}

.servis-background {
  background-color: #F0F0F0;

}

.index-column {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1160px;
}

.servis-title {
  margin-bottom: 34px;
  margin-right: 210px;
}

.service-list {
  display: flex;
  justify-content: space-between;
}

.service-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 73px 0;
  gap: 106px;

}

.service-image {
  padding-top: 5px;
  padding-bottom: 5px;
}

.shop-about-contacts {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  box-sizing: border-box;
}



.delivery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1160px;
  margin: auto;
  margin-bottom: 70px;
  font-size: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
}



.delivery-info-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}

.about-us {
  max-width: 520px;
}

.contacts {
  max-width: 532px;
}

.contacts-subtitle {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.contacts-title {
  margin-bottom: 48px;
  letter-spacing: normal;
}

.newsletter {

  padding-top: 64px;
  padding-bottom: 56px;
  box-sizing: border-box;
}

.newsletter-background {
  background-color: #F0F0F0;
}



.subscription {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto 144px;
  max-width: 1160px;
}

.subscription-title {
  letter-spacing: normal;
}

.subscription-form {
  border-color: transparent;
  max-width: 810px;
}

.subscription-form p {
  margin-left: auto;
  text-align: center;
}

.subscription-conteiner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1160px;
}

.field {
  border-color: #C4C4C4;
  border-width: 3px;
  font-size: 18px;
  font-weight: 400;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  background-color: #F0F0F0;
  padding: 11px 310px 18px 16px;
}

.subscription-button {
  border-color: #C4C4C4;
  border-style: solid;
  border-width: 3px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0%;
  padding: 18px 39px;
}

.contacts-address {
  font-style: normal;
}

.contacts-address-text {
  font-style: normal;
}

.shop-schedule {
  margin-bottom: 30px;
}

.page-title-container {
  box-sizing: border-box;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  max-width: 1160px;
}

.page-title {
  margin: 0;
  font-size: 50px;
  line-height: 50px;

  margin-bottom: 16px;
}

.page-title-background {
  background-color: #FFFFFF;

}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-gap: 36px;
  background-color: #FFFFFF;

}

.catalog-filter-title {
  margin-bottom: 35px;
}

.catalog-section-title {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
}

.sort {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  background-color: #F0F0F0;
  font-family: Rubik, sans-serif;
}

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

select {
  border: none;
  background-color: #F0F0F0;
  display: inline;
}

.filter-fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  border: none;
  border-top-color: #000000;
  border-top-width: 2px;
  border-top-style: solid;

}

.filter-name {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.form-check {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.form-radio {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.filter-bottom {
  padding: 10px 5px;
  text-align: center;
}

.catalog-top {
  display: flex;
  justify-content: space-between;
  align-content: start;
  align-items: start;
  background-color: #F0F0F0;
  padding-bottom: 20px;
  box-sizing: border-box;

}

.catalog-sort-arrows {
  display: flex;

}

.sort-arrow {

  min-width: 30px;
  min-height: 30px;
}

.catalog-list {
  display: grid;
  list-style-type: none;
  margin: 0;
  row-gap: 44px;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.catalog-item-info a {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item-name {
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;
  justify-content: space-between;
}

.item-price {
  justify-self: start;
}

.pagination-show-more {
  margin-bottom: 44px;
  background-color: #FFFFFF;
  text-align: center;
}

.pagination {
  display: flex;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: #EBEBEB;

}

.button-show-more {
  padding: 18px;
  width: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: #E5E5E5;
  background-color: #FFFFFF;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pagination-button-back {
  margin-right: auto;
  color: #444444;
}

.pagination-button-forward {
  display: block;
  margin-left: auto;
  color: #000000;
}

.pagination-button {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pagination-list {
  display: flex;
  align-content: center;
}

.pagination-page {
  display: block;
  width: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.footer-container {
  display: grid;
  gap: 30px 85px;
  grid-template-columns: 250px 500px 240px;
  background-color: #444444;
  color: #ffffff;
  justify-content: center;
  max-width: 1440px;
  padding: 60px 16px;
}

.footer-background {
  background-color: #444444;

}

.footer-contacts-address {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  grid-column: 1/2;
  grid-row: 2/3;
}

.footer-shop-info-nav {
  display: grid;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer-shop-info {
  display: flex;
  gap: 35px;
}

.footer-contacts-phone {
  grid-column: 3/4;
  grid-row: 2/3;
}

.footer-social {
  display: grid;
  grid-column: 2/3;
  grid-row: 3/4;
  justify-content: center;
  align-items: end;
}

.main-footer {
  box-sizing: border-box;
}

.main-footer a {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #FFFFFF;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  display: grid;
}

.footer-contacts a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: Rubik, sans-serif;
  text-decoration: underline;
  text-align: right;
  letter-spacing: normal;
}

.footer-decor {
  text-align: left;
  grid-column: 1/2;
  grid-row: 3/4;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  gap: 15px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 40px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-shop-logo {
  color: #ffc700;
  text-align: right;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-items: start;
  align-items: end;
}

.footer-logo {
  display: grid;
  grid-column: 3/4;
  grid-row: 3/4;
  justify-content: end;
  align-items: end;
}
